@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<html>
<head>
	<link rel="stylesheet" href="~/css/HomeIndex.css" />
</head>

<body>
	<div>
		<table class="table table-striped">

			<thead>
				<tr>
					<td>Name</td>
					<td>Price</td>
					<td>Quantity</td>
				</tr>
			</thead>


			<tbody id="products">
			</tbody>

		</table>
	</div>
</body>


</html>

