<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TG Workshop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>


<body>

    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand">T&G Workshop</a>

        </nav>
    </header>



    <div class="wrapper">

        <aside class="sidebar" id="side-menu">

            <ul>
                <li onclick="GetProducts()">All Products</li>
            </ul>
            

        </aside>

        <main>
            @RenderBody()
        </main>
    </div>
</body>


<footer class="footer">
    <p>&copy; 2024 - T&G Workshop - Mehmet Fatih KARA</p>
</footer>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<script src="~/js/site.js"></script>

</html>